<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Bot Created</h1>
    <img src="<%= imgCapcha %>" alt="">
    <form method="post"  style="display: flex; flex-direction: column; width: 25%;">
        <br>
        <label for="capcha">Capcha</label>
        <input type="text" name="capcha" id="capcha">
        <br>
        <label for="mail">Mail PSE</label>
        <input type="email" name="mail" id="mail">
        <br>
        <input type="hidden" name="status" id="status" value="1">
        <input type="hidden" name="botname" id="botname" value="<%= bot %>">
        <input type="submit" value="Complete capcha">
    </form>
</body>
</html>