<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Bot Created</h1>
    <form method="post">
        <img src="<%= imgCapcha %>" alt="">
        <input type="text" name="capcha" id="capcha">
        <input type="hidden" name="status" id="status" value="1">
        <input type="hidden" name="botname" id="botname" value="<%= bot %>">
        <input type="submit" value="Complete capcha">
    </form>
</body>
</html>